<div class="container-fluid">

    <div class="row">
        <div class="col-sm-10">
        <h2 style="font-weight:bold; color:black; font-size:30px;">¿ Cual es el Proceso ?</h2>
    </div>
        <div class=" col-lg-12 col-sm-12">
            <div class=" card card-timeline card-plain">
                <div class=" card-body">
                    <ul class=" timeline timeline-simple">
                        <li class=" timeline-inverted">
                            <div class=" timeline-badge info" id="first"><i class=" fa-bullhorn fas"></i></div>
                            <div class=" timeline-panel" id="convocatoria">
                                <div class=" timeline-heading"
                                 id="head-convocatoria"><span class=" badge badge-danger">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;"> CONVOCATORIA: </font>
                                        </font>
                                    </span></div>
                                <div class=" timeline-body">
                                    <p>
                                        <font style="vertical-align: inherit; color:black;">
                                            <br>
                                            <font style="vertical-align: inherit;">- Para el I semestre académico: La convocatoria inicia el 15
                                                de marzo y finaliza el 30 de abril. </font>
                                                <br>
                                            <font style="vertical-align: inherit;">- Para el II semestre académico: La convocatoria se inicia el
                                                15 de agosto y finaliza el 28 de setiembre. </font>
                                            
                                        </font>
                                    </p>
                                </div>
                                
                            </div>
                        </li>
                        <li class=" timeline-inverted">
                            <div class=" timeline-badge info" id="second"><i class="  tim-icons icon-cloud-upload-94"></i></div>
                            <div class=" timeline-panel" id="postulaciones">
                                <div class=" timeline-heading"><span class=" badge badge-success">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;"> POSTULACIONES:</font>
                                        </font>
                                    </span></div>
                                <div class=" timeline-body">
                                    <p>
                                        <font style="vertical-align: inherit; color:black;">
                                            <br>
                                            <font style="vertical-align: inherit;">- Dentro de las fechas indicadas, regístrate para postular. </font>
                                            <br>
                                            <font style="vertical-align: inherit;">- Descarga y llena los documentos requeridos. </font>
                                            <br>
                                            <font style="vertical-align: inherit;">- Súbelos a la plataforma.</font>
                                        </font>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class=" timeline-inverted">
                            <div class=" timeline-badge info" id="third"><i class=" tim-icons icon-notes"></i></div>
                            <div class=" timeline-panel" id="seleccion">
                                <div class=" timeline-heading" id="head-seleccion"><span class=" badge badge-info">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;"> SELECCIÓN: </font>
                                        </font>
                                    </span></div>
                                <div class=" timeline-body">
                                    <p>
                                        <br>
                                        <font style="vertical-align: inherit; color:black;">
                                            <font style="vertical-align: inherit;">- El estudiante interesado en participar en la movilidad
                                                académica completa la solicitud, luego es derivada al 
                                                director de escuela respectiva para que lo evalúe e
                                                indique si el postulante está apto para participar.
                                                 </font>
                                        </font>
                                    </p>
                                    <p>
                                        <font style="vertical-align: inherit; color:black;">
                                            <font style="vertical-align: inherit;">- El estudiante interesado escribe una carta explicando
                                                los motivos que lo impulsan a participar en la movilidad 
                                                académica.
                                                </font>
                                        </font>
                                    </p>
                                    <p>
                                        <font style="vertical-align: inherit; color:black;">
                                            <font style="vertical-align: inherit;">- Asimismo, presentar una constancia de conocimiento 
                                                del idioma.
                                                 </font>
                                        </font>
                                    </p>
                                    <p>
                                        <font style="vertical-align: inherit; color:black;">
                                            <font style="vertical-align: inherit;">- La escuela profesional respectiva jerarquiza la lista de 
                                                los candidatos por orden de mérito de acuerdo al record
                                                académico y, de esta forma, se realiza la preselección.
                                                 </font>
                                        </font>
                                    </p>
                                    <p>
                                        <font style="vertical-align: inherit; color:black;">
                                            <font style="vertical-align: inherit;">- Los estudiantes preseleccionados son entrevistados 
                                                por el director(a) de escuela, coordinador de movilidad 
                                                académica, capellán y psicólogo(a) de la facultad de 
                                                acuerdo a las universidades de destino elegidas.
                                                 </font>
                                        </font>
                                    </p>
                                    <p>
                                        <font style="vertical-align: inherit; color:black;">
                                            <font style="vertical-align: inherit;">- Luego de la entrevista, se selecciona al estudiante. </font>
                                        </font>
                                    </p>
                                    <p>
                                        <font style="vertical-align: inherit; color:black;">
                                            <font style="vertical-align: inherit;">- La selección del estudiante debe estar respaldada por 
                                                el voto de Consejo de Escuela Profesional y Facultad.
                                                 </font>
                                        </font>
                                    </p>
                                    <p>
                                        <font style="vertical-align: inherit; color:black;">
                                            <font style="vertical-align: inherit;">- Para terminar el proceso de selección, se envía un 
                                                correo a todos los candidatos en el que informamos 
                                                quién ha sido seleccionado.
                                                 </font>
                                        </font>
                                    </p>
                                    <p>
                                        <font style="vertical-align: inherit; color:black;">
                                            <font style="vertical-align: inherit;">- El proceso de selección demora en promedio un mes
                                                y medio. </font>
                                        </font>
                                    </p>
                                    
                                </div>
                                
                            </div>
                        </li>
                        <li class=" timeline-inverted">
                            <div class=" timeline-badge info" id="fourth"><i class="far fa-paper-plane"></i></div>
                            <div class=" timeline-panel" id="asesoria">
                                <div class=" timeline-heading"
                                 id="head-asesoria"><span class=" badge badge-warning">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;"> ASESORIA DEL TRAMITE DE VISA: </font>
                                        </font>
                                    </span></div>
                                <div class=" timeline-body">
                                    <p>
                                        <font style="vertical-align: inherit; color:black;">
                                            <br>
                                            <font style="vertical-align: inherit;">- Las asesorías sobre trámites de visa se realizarán en la 
                                                oficina de Cooperación Internacional- 4° piso del 
                                                Pabellón B (Ex FACTEO). </font>
                                                <br>
                                            
                                            
                                        </font>
                                    </p>
                                </div>
                                
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>