.reduccion{
    width: 40rem;
    margin: 0 auto;
}
.derecha{
    float: right;
}
body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
  }