<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card" *ngIf="show">
                <div class="card-header">
                    <h1 class="title">Opcion</h1>
                    <button class="btn btn-success" (click)="show=!show">AgregarOpcion</button>
                </div>
                <div class="card-body">
                    <div class="">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Enlace</th>
                                    <th scope="col">Icono</th>
                                    <th colspan="2">Opcion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let opcion of listOpcion ;let i=index">
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{opcion.nombre}}</td>
                                    <td>{{opcion.descripcion}}</td>
                                    <td>{{opcion.enlace}}</td>
                                    <td>{{opcion.icono}}</td>
                                    <td>{{opcion.enlace}}</td>
                                    <td><button class="tim-icons icon-pencil" (click)="loadOpcion(opcion)"
                                            data-toggle="modal" data-target="#updateOpcionmodal"></button></td>
                                    <td><button class="tim-icons icon-simple-remove" (click)="loadOpcion(opcion)"
                                            data-toggle="modal" data-target="#confirmdelete"></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card" *ngIf="!show">
                <div class="card-header">
                    <h1 class="title">Nueva Opcion</h1>
                </div>
                <div class="card-body">
                    <div class="reduccion" >
                        <form action="">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Nombre:</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1"
                                    placeholder="name of the opcion">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Estado:</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>1</option>
                                    <option>2</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Icono:</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Descripcion:</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Enlace:</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1"
                                    placeholder="name@example.com">
                            </div>
                            <div class="derecha">
                                <button type="button" class="btn btn-primary" (click)="show=!show">Cancelar</button>
                                <button type="button" class="btn btn-success  btn-fill" (click)="show=!show">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


