<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-plain">
                <div class="titulo">
                    <h3 style="margin-left: -18px; margin-top: -24px; margin-bottom: -1px;">{{title}}</h3>
                </div>
                <div *ngIf="show;">
                    <div class="cabesea">
                        <div class="card-header">
                            <div>
                                <form id="formacabeza">
                                    <div class="input-group no-border col-md-8">
                                        <input type="text" value="" placeholder="Search..." class="form-control search"
                                            style="margin-left: 5px;">
                                        <div class="input-group-append" id="iconobuscar">
                                            <div class="input-group-text">
                                                <button class="btn btn-link btn-sm btn-icon" id="bus"
                                                    ria-describedby="tooltip-190" style="margin-bottom: -13px; ">
                                                    <i class="tim-icons icon-zoom-split" style="margin-top: -7px;"></i>
                                                </button>
                                                <style></style>
                                            </div>
                                        </div>
                                        <div class="boton" style="float: right;">
                                            <button class=" btn btn-fill btn-info" type="submit"
                                                (click)="mostrar_crear()">Nueva
                                                Opcion</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="cuerpo">
                        <div class="card-body col-md-10">
                            <div class="card">
                                <h5>Lista de Opciones</h5>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Nombre</th>
                                            <th scope="col" id="deta">Descripcion</th>
                                            <th scope="col">Enlace</th>
                                            <th scope="col">Icono</th>
                                            <th scope="col">Opcion</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr *ngFor="let opcion of listOpcion ;let i=index">
                                            <th>{{i+1}}</th>
                                            <td>{{opcion.nombre}}</td>
                                            <td>{{opcion.descripcion}}</td>
                                            <td>{{opcion.enlace}}</td>
                                            <td>{{opcion.icono}}</td>
                                            <td>
                                                <button class="btn btn-warning btn-link btn-sm btn-icon"
                                                    ria-describedby="tooltip-190">
                                                    <i class="tim-icons icon-pencil"
                                                        (click)="mostrar_modifica();UpdateOpcion()"></i>
                                                </button>
                                                <button class="btn btn-danger btn-link btn-sm btn-icon"
                                                    ria-describedby="tooltip-190">
                                                    <i class="tim-icons icon-simple-remove"
                                                        (click)="DeleteOpcion(opcion)"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <section *ngIf="show3;">
                <div class="content new">
                    <div class="col-md-7">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="title">Nueva Opcion</h5>
                            </div>
                            <div class="card-body">
                                <form id="creeme">
                                    <div class="col-md-6 gp">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Nombre:</label>
                                            <input type="text" name="nombre" class="form-control"
                                                id="exampleFormControlInput1" placeholder="name of the opcion"
                                                [(ngModel)]="AddOpcion.nombre">
                                        </div>
                                    </div>

                                    <div class="col-md-6 gp">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Icono:</label>
                                            <input type="email" class="form-control" id="exampleFormControlInput1"
                                                placeholder="name of the opcion" name="icono"
                                                [(ngModel)]="AddOpcion.icono">
                                        </div>
                                    </div>
                                    <!--
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Icono:</label>
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option >fa fa-user</option>
                                        <option>fa fa-delete</option>
                                        <option>fa fa-trash</option>
                                        <option>fa fa-pencil</option>
                                        <option>fa fa-cerrar</option>
                                    </select>
                                </div>-->
                                    <div class="col-md-6 gp">
                                        <div class="form-group">
                                            <label for="exampleFormControlTextarea1">Descripcion:</label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                                name="descripcion" [(ngModel)]="AddOpcion.descripcion"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-md-6 gp">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Enlace:</label>
                                            <input type="text" class="form-control" id="exampleFormControlInput1"
                                                placeholder="Add Enlace" name="enlace" [(ngModel)]="AddOpcion.enlace">
                                        </div>
                                    </div>

                                    <div class="col-md-6 gp">
                                        <div class="card-footer">
                                            <div class="form-group text-center">
                                                <button type="button" class="btn btn-primary"
                                                    (click)="show3=!show3;show=!show"
                                                    style="margin-right: 10px;">Cancelar</button>


                                                <button type="button" class="btn btn-success  btn-fill"
                                                    (click)="guardar();show3=!show3;show=!show">Guardar</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section *ngIf="show2;">
                <div class="content modifi">
                    <div class="col-md-7">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="title">Modificar Opcion</h5>
                            </div>
                            <div class="card-body">
                                <form id="creeme">
                                    <div class="col-md-6 gp">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Nombre:</label>
                                            <input type="text" name="nombre" class="form-control"
                                                id="exampleFormControlInput1" placeholder="name of the opcion"
                                                [(ngModel)]="AddOpcion.nombre">
                                        </div>
                                    </div>

                                    <div class="col-md-6 gp">
                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">Estado:</label>
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option>1</option>
                                            <option>2</option>
                                        </select>
                                    </div>
                                </div>

                                    <div class="col-md-6 gp">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Icono:</label>
                                            <select class="form-control" id="exampleFormControlSelect1">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                        </div>
                                    </div>
                                    <!--
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Icono:</label>
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option >fa fa-user</option>
                                        <option>fa fa-delete</option>
                                        <option>fa fa-trash</option>
                                        <option>fa fa-pencil</option>
                                        <option>fa fa-cerrar</option>
                                    </select>
                                </div>-->
                                    <div class="col-md-6 gp">
                                        <div class="form-group">
                                            <label for="exampleFormControlTextarea1">Descripcion:</label>
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                                name="descripcion" [(ngModel)]="AddOpcion.descripcion"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-md-6 gp">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput1">Enlace:</label>
                                            <input type="text" class="form-control" id="exampleFormControlInput1"
                                                placeholder="Add Enlace" name="enlace" [(ngModel)]="AddOpcion.enlace">
                                        </div>
                                    </div>

                                    <div class="col-md-6 gp">
                                        <div class="card-footer">
                                            <div class="form-group text-center">
                                                    <button type="button" class="btn btn-primary"
                                                    (click)="show2=!show2;show=!show" style="margin-right: 10px;">Cancelar</button>
                                                <button type="button" class="btn btn-success  btn-fill"
                                                    (click)="modificar();show2=!show2;show=!show">Actualizar</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        </div>
    </div>
</div>