<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <div class="card mx-4">
              <div class="card-body p-4">
                <form>
                  <h1>Registrate</h1>
                  <p class="text-muted">Crea tu Usuario</p>
  
                  <div class="row justify-content-center mt-4">
                    <!--------------------------------iNICIA CONTENEDOR GENERAL------------------------------------------->
                 
                     <!--------------------------------INICIA CONTENEDOR DE INPUT LARGO------------------------------------------->
                     <div class="col-sm-12"><div class="form-group has-icon">
                      <!---->
                      <div class="mb-0 input-group">
                        <span class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="tim-icons icon-single-02"></i>
                          </div>
                        </span>
                        <input aria-describedby="addon-right addon-left" name="user" id="username" placeholder="Nombre de Usuario" class="form-control" [(ngModel)]="usuario.usuario">
                       
                        <!---->
                      </div>
                      <!---->
                    </div>
                  </div>
                     <!--------------------------------TERMINA CONTENEDOR DE INPUT LARGO------------------------------------------->
                     
                      <!--------------------------------INICIA CONTENEDOR DE INPUT LARGO------------------------------------------->
                      <div class="col-sm-12"><div class="form-group has-icon">
                        <!---->
                        <div class="mb-0 input-group">
                          <span class="input-group-prepend">
                            <div class="input-group-text">
                              <i class="tim-icons icon-lock-circle"></i>
                            </div>
                          </span>
                          <input aria-describedby="addon-right addon-left" name="pass" id="pass1" placeholder="Contraseña" class="form-control" [(ngModel)]="usuario.password" type="password">
                          <!---->
                        </div>
                        <!---->
                      </div>
                    </div>
                       <!--------------------------------TERMINA CONTENEDOR DE INPUT LARGO------------------------------------------->
                        <!--------------------------------INICIA CONTENEDOR DE INPUT LARGO------------------------------------------->
                      <div class="col-sm-12"><div class="form-group has-icon">
                        <!---->
                        <div class="mb-0 input-group">
                          <span class="input-group-prepend">
                            <div class="input-group-text">
                              <i class="tim-icons icon-lock-circle"></i>
                            </div>
                          </span>
                          <input aria-describedby="addon-right addon-left" name="pass2" id="pass2" placeholder="Confirmar Contraseña" class="form-control" type="password">
                          <!---->
                        </div>
                        <!---->
                      </div>
                    </div>
                       <!--------------------------------TERMINA CONTENEDOR DE INPUT LARGO------------------------------------------->
                    <!--aqui termina el contenedor-->
                  </div>
                  <!----------------------------->
                  <button type="button" class="btn btn-block btn-success" (click)='addusuario(usuario)'>Continuar</button>
                </form>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  
