<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-plain">
        <div class="titulo">
          <h3 style="margin-left: -20px; margin-top: -25px; margin-bottom: 6px;">{{title}}</h3>
        </div>

        <div class="card-header">
          <div class="cabeza">
            <form id="">
              <div class="input-group no-border col-md-8">
                <input type="text" value="" placeholder="Search..." class="form-control search"
                  style="margin-left: 5px;">
                <div class="input-group-append" id="iconobuscar">
                  <div class="input-group-text">
                    <button class="btn btn-link btn-sm btn-icon" id="bus" ria-describedby="tooltip-190" style="margin-bottom: -13px; ">
                      <i class="tim-icons icon-zoom-split" style="margin-top: -7px;"></i>
                    </button>
                    <style></style>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="card-body col-md-9">
          <div class="card">
            <h5>Lista de Convocatorias</h5>
            <div class="editabla">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Semestre</th>
                    <th scope="col">Inicio-Fin</th>
                    <th scope="col">Nombre</th>
                    <th scope="col" id="deta">Detalle Convocatoria</th>
                    <th scope="col">Opciones</th>
                  </tr>
                </thead>
                <tbody >
                  <tr *ngFor="let convocatoria of listaconvocatorias; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{convocatoria.ciclo_academico}}</td>
                    <td>{{convocatoria.desde}} - {{convocatoria.hasta}}</td>
                    <td>{{convocatoria.nom_convocatoria}}</td>
                    <td>
                      <button class="btn btn-success btn-link btn-sm btn-icon" ria-describedby="tooltip-190">
                        <i class="tim-icons icon-notes" (click)="detalleconv(convocatoria.idconvocatoria)"routerLinkActive="router-link-active"></i>
                      </button>
                    </td>
                    <td>
                      <button class="btn btn-info btn-link btn-sm btn-icon" ria-describedby="tooltip-190">
                        <i class="tim-icons icon-single-copy-04 success" (click)="openModalWithComponent(convocatoria.idconvocatoria)" style="margin-right: 12px;"></i>
                      </button>
                      <button class="btn btn-warning btn-link btn-sm btn-icon" ria-describedby="tooltip-190">
                        <i class="tim-icons icon-pencil"(click)="buscarConvocatoria(convocatoria);open(content)" style="margin-right: 12px;"></i>
                      </button>
                      <button class="btn btn-danger btn-link btn-sm btn-icon" ria-describedby="tooltip-190">
                        <i class="tim-icons icon-trash-simple" (click)="elminarconv(convocatoria.idconvocatoria)"></i>
                      </button>  
                       
                    </td>
                  </tr>
                </tbody>
              </table>
              
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal >
  <div class="modal-header modal-lg">
    <h4 class="modal-title" id="modal-basic-title">Actualizar Convocatoria</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row">
    <div class="modal-body ">
      <div class="col-md-12 escuela" style="margin-left: 10px;">
        <h1>Escuelas Profecionales</h1>
        <div class="card-body">
          <div class="table-full-width">
            <select name="idfac" class="form-control" [(ngModel)]="idfacultad" (change)=listarep()>
              <option value="1">Empresariales</option>
              <option value="2">Fia</option>
              <option value="3">Cocaina</option>
            </select>
            <table class="table">
              <tbody>
                <tr *ngFor="let esceula of listaep">
                  <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input id="chis" name="" class="form-check-input" type="checkbox"
                          value="{{esceula.IDEP}}" (change)="sele(esceula.IDEP)" />

                        <span class=" form-check-sign">
                          <span class=" check"> </span>
                        </span>
                      </label>
                    </div>
                  </td>
                  <td>
                    <p class="title">{{esceula.NOM_EP}}</p>
                  </td>
                  <td class=" td-actions text-right">
                    <button class=" btn btn-link" type="button" placement="left" ngbTooltip="Editar "
                      container="body">
                      <i class=" tim-icons icon-pencil"> </i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-body  col-md-6">

        <div class=" form-group">
          <label> Semestre </label>
          <input class=" form-control" placeholder="Semestre" type="text" [(ngModel)]="convocatora.ciclo_academico"
            name="semestre">
        </div>
        <div class=" form-group">
          <label> Nombre de la Convocatoria </label>
          <input class=" form-control" placeholder="Nombre" type="text" [(ngModel)]="convocatora.nom_convocatoria"
            name="nom_convocatoria">
        </div>
        <div class=" form-group">
          <label> Desde </label>
          <input class=" form-control" placeholder="" type="date" [(ngModel)]="convocatora.desde"
            name="desde">
        </div>
        <div class=" form-group">
          <label> Hasta </label>
          <input class=" form-control" placeholder="" type="date" [(ngModel)]="convocatora.hasta"
            name="hasta">
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark"
      (click)="editarconv(); modal.dismiss('Cross click')">Save</button>
  </div>

</ng-template>





