<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h1 class=" title">CONVOCATORIAS</h1>
                    <button class="btn btn-success">Nueva Convocatoria</button>
                </div>
                <div style="height: 50px;"></div>
                <div class=" card-body ">
                    <div class=" table-responsive">
                        <table class=" table tablesorter tam-tabla"  id="">
                            <thead  >
                                <tr >
                                    <th><h4>Nro</h4></th>
                                    <th><h4>Semestre</h4></th>
                                    <th><h4>Vacantes</h4></th>
                                    <th><h4>Plan de Convocatoria</h4></th>
                                    <th class="text-center"><h4>Opciones</h4></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>2018-1</td>
                                    <td ><h3 >5</h3></td>
                                    <td ><i style="margin-left: 20%;" class="tim-icons icon-notes" [routerLink]="['/detalleconv']" ></i></td>
                                    <td class="text-center"><i style="margin-left: 20%;" class="tim-icons icon-pencil" routerLinkActive="router-link-active" ></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>