.app-body{
    margin: center;
    margin-top: 15%;
    
}
.bg-primary{
    background-color:#0d4b85 !important ;
}
.btn-primary{
    background: #0d4b85 !important ;
    background-image: linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
}

