<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="titulo">
                <h3 style="margin-left: 10px; margin-top: -5px; margin-bottom: 9px;">{{title}}</h3>
              </div>
            <div class="card col-md-8">
                <div class="card-header">
                    <div class="container row" style="margin: 0px auto;">
                        <div class="col-4">
                            <div class="form-group">
                                <label for="pers" class="col-form-label">Convocatoria:</label>
                                <select class="form-control" [(ngModel)]="idc" name="idc">
                                    <option value="" hidden selected>Seleccionar Convocatoria</option>
                                    <option *ngFor="let con of convocatorias" value="{{con.idconvocatoria}}">{{con.nom_convocatoria}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="pers" class="col-form-label">Escuela Profesional:</label>
                                <select class="form-control" (change)="selectConvenio($event)">
                                    <option value="" hidden selected>Seleccionar Escuela</option>
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="card-body col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Estudiante</th>
                                <th scope="col">Ciclo</th>
                                <th scope="col">Correo</th>
                                <th scope="col">Universidad</th>
                                <th scope="col">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Juan Ramirez Humala</td>
                                <td>cuarto</td>
                                <td>perz@upeu.edu.pe</td>
                                <td>Brasil</td>
                                <td><i class="tim-icons icon-check-2"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>