<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="titulo">
                <h3 style="margin-left: 10px; margin-top: -5px; margin-bottom: 9px;">{{title}}</h3>
            </div>
            <div class="card col-md-10">
                <div class="card-header">
                    <div class="container row" style="margin: 0px auto;">
                        <div class="col-4">
                            <div class="form-group">
                                <label for="pers" class="col-form-label">Convocatoria:</label>
                                <select class="form-control" [(ngModel)]="idc" name="idc"
                                    (change)="listar_escuela($event)">
                                    <option value="" hidden selected>Seleccionar Convocatoria</option>
                                    <option *ngFor="let con of convocatorias" value="{{con.idconvocatoria}}">
                                        {{con.nom_convocatoria}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="pers" class="col-form-label">Escuela Profesional:</label>
                                <select class="form-control" [(ngModel)]="ide" (change)="listar_win($event)">
                                    <option value="" hidden selected>Seleccionar Escuela</option>
                                    <option *ngFor="let es of escuela" value="{{es.IDEP}}">{{es.NOM_EP}}</option>
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card-body col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Estudiante</th>
                                <th scope="col">Codigo</th>
                                <th scope="col">Ciclo</th>
                                <th scope="col">Correo</th>
                                <th scope="col">Universidad</th>
                                <th scope="col">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let win of ganadores; let i=index">
                                <th scope="row">{{i+1}}</th>
                                <td>{{win.NOMBRES}}</td>
                                <td>{{win.CODIGO}}</td>
                                <td>{{win.CICLO}}</td>
                                <td>{{win.CORREO}}</td>
                                <td>{{win.NOM_UNIVERSIDAD}}</td>
                                <td>
                                    <button class="btn btn-warning btn-link btn-sm btn-icon"
                                        ria-describedby="tooltip-190">
                                        <i class="tim-icons icon-check-2" (click)="correo(win)"></i>
                                    </button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>