<div class="content">
  <div class="row">

    <div class="col-md-3">
      <div class="card">
        <div class="container">
          <div>
            <app-info-convenios (universidadConvenio)="updatedataEscuela($event)" (infoConvenio)="updatedataConvenio($event)" (idconvenio)="updateid($event)"></app-info-convenios>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-9">
      <div class="card">
          <div class="tab">
            <button class="tablinks btn btn-primary" (click)="openCity($event, 'Information')"
              class="col-md-4">Informacion de Convenios</button>
            <button class="tablinks primary" (click)="openCity($event, 'Requisitos')"
              class="col-md-4">Requisitos</button>
            <button class="tablinks primary" (click)="openCity($event, 'Vamos')" class="col-md-4">Participa</button>
          </div>

          <div id="Information" class="tabcontent form-group">
            <app-info-vacantes [dataConvenio]="conve" [dataEscuelas]="escuela"></app-info-vacantes>
          </div>

          <div id="Requisitos" class="tabcontent form-group">
            <app-info-requisitos [idconvenio] ="requi"></app-info-requisitos>
          </div>

          <div id="Vamos" class="tabcontent form-group">
            <app-info-validador [validador] ="respuesta"></app-info-validador>
          </div>
        </div>
      </div>

    </div>
  </div>