

#iconobuscar{
    border: 0;
}
.search{
    height: 53px;
    font-size: 18px;
}
.boton{
    margin-left: 2%;
    width: 50px;
    height: 0px;
}
.btn-info{
    width: 237px;
    height: 55px;
    font-size: 20px;
    margin-top: -2px;
}
.copyright{
    float: right;
}

.upeu{
    margin-right: 100px;
    float: left;
}

.crear{
    margin-top: -70px;
    
}
.form-group{
    font-size: 18px;
}
.modificar{
    margin-top: -70px;

}
.in{
    align-items: center;
    justify-content: center;
}
.crear{
    border-radius: 0.25px;
    border-color: black;
}

textarea.form-control{
    border: 1px solid #2b3553;
    border-radius: .4285rem;
    resize: both;
}


