.container-fluid{
    background: black;
    height: 84px;
    display: flex;
  justify-content: center;
}

.copyright{
    width: 1205.39px;
    height: 23px;
    margin-top: 30px;
    color: white;
    text-align: center;
}