.table{
    font-size: 14px ;
}

.multi{
    background-color: red($color: #d34242);
}
.escuela{
    float: right;
    margin-top:18px;
}
.col-md-8{
    margin-left: -29px;
    margin-top:-10px;
}
img{

    width: 220px; height: 150px;
}
#pd{

    width: 75px; height: 85px;
}

