.tam-tabla{
    font-size: 20px ;
}
h3{
    margin-left: 20%;
     margin-top: 30px;
}
.derecha{
    margin-left: 30px;
}
.multi{
    background-color: red($color: #d34242);
}
.escuela{
    float: right;
}