.table{
    font-size: 14px ;
}

.multi{
    background-color: red($color: #d34242);
}
.escuela{
    float: right;
    margin-top:18px;
}
.col-md-8{
    margin-left: -29px;
    margin-top:-10px;
}
img{

    width: 220px; height: 150px;
}
#pd{

    width: 75px; height: 85px;
}
#hiu{
    padding-top: 0;
}
.card #cvt{
    padding-top: 8;
}
h5{
    margin-bottom: 0;
}
.card{
    border-top-color: #96344e;
    border-top-style: solid;
    border-top-width: .25rem;
    padding-top: 0;
}
table{
    border-top-style: solid;
    border-top-width: .25rem;
    border-top-color: #e89a00;
    border-radius: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(44,51,73,.1);
    overflow: auto;
}
