.table{
    margin: 0px auto;
}
.botones{
    margin-right: 0px auto;
}
.abajo{
    //en espera 
    margin-top: 0px auto;
}
.centrar{
    margin: 0px auto;
}
.reciev{
    margin: 0px auto;
}
.imagen{
    background-color: red($color: #000000);
}

.ngpanel{
    margin: 0px;
    padding: 0px;
}
.tamanio{
    padding: 0px;
    width: 60%;
    margin:0px auto;
    border-radius: 10px;
    border-color: black;
    border: 1px solid #d3d3d3;
    
}
.tamanio2{
    padding: 0px;
    width: 60%;
    margin:0px auto;
    border-radius: 10px;
    border-color: black;
    border: 1px solid #d3d3d3;
    
}