.table{
    margin: 0px auto;
}
.botones{
    margin-right: 0px auto;
}
.abajo{
    //en espera 
    margin-top: 0px auto;
}
.centrar{
    margin: 0px auto;
}
.reciev{
    margin: 0px auto;
}
.imagen{
    background-color: red($color: #000000);
}