<div class="logo">
  <a href="https://www.creative-tim.com?ref=bda-sidebar-logo" class="simple-text logo-mini">
    <div class="logo-img">
      <img src="./assets/img/angular2-logo-white.png" />
    </div>
  </a>
  <a href="http://localhost:4200/#/user" class="simple-text logo-normal" id="datosu">
    
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li
      routerLinkActive="active"
      *ngFor="let opc of opciones"
      class=" nav-item"
    >
      <a [routerLink]="[opc.ENLACE]">
        <i class={{opc.ICONO}}></i>
        <p>{{ opc.NOMBRE }}</p>
      </a>
    </li>
  </ul>
</div>
