<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card">
                <div class=" card-header">
                    <h1 class=" title">DETALLE CONVOCATORIAS</h1>
                    <button class="btn btn-success">Nueva Convocatoria</button>
                </div>
                <div style="height: 50px;"></div>
                <div class=" card-body ">
                    <div class=" table-responsive">
                        <table class=" table tablesorter tam-tabla"  id="">
                            <thead  >
                                <tr >
                                    <th><h4>Nro</h4></th>
                                    <th><h4>Inicio - Fin</h4></th>
                                    <th><h4>Estudiantes</h4></th>
                                    <th><h4>Escuela Profecional</h4></th>
                                    <th><h4>Estado</h4></th>
                                    <th class="text-center"><h4>Informe</h4></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>12/03/2020 - 12/06/2020</td>
                                    <td ><i style="margin-left: 20%;" class="tim-icons icon-notes"></i></td>
                                    <td >Ingenieria Sistemas</td>
                                    <td>Activo</td>
                                    <td class="text-center"><i style="margin-left: 20%;" class="tim-icons icon-pencil"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>