
<div class="content">
    <div class=" row">
        <div class=" col-md-12">
            <div class="card card-plain">
              <div class="titulo">
                <h3 style="margin-left: -20px; margin-top: -25px; margin-bottom: 6px;">{{title}}</h3>
              </div>

                <div class=" card-header">
                </div>

                <div class=" card-body col-md-9">
                  <div class="card"> 
                    <h5>Lista de los Detalles</h5>
                    <table class="table">
                      <thead  >
                        <tr >
                          <th scope="col">Nro</th>
                          <th scope="col">Convocatoria</th>
                          <th scope="col">Estudiantes</th>
                          <th scope="col" id="deta">Escuela Profesional</th>
                          <th scope="col">Universidad</th>
                          <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let detconv of convocatorias; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{detconv.nom_convocatoria}}</td>
                            <td>
                              <button class="btn btn-success btn-link btn-sm btn-icon" ria-describedby="tooltip-190">
                                <i style="margin-left: 20%;" class="tim-icons icon-notes" (click)="listaralumnos(detconv.idetalle_convocatoria); open(content)" data-toggle="modal" data-target="#exampleModal"></i>
                              </button> 
                            </td>
                            <td>{{detconv.escuela}}</td>
                            <td>{{detconv.convenio }}</td>
                            <td class="text-center">
                              <button class="btn btn-warning btn-link btn-sm btn-icon" ria-describedby="tooltip-190">
                                <i style="margin-left: 20%;" class="tim-icons icon-pencil" (click)="editardet(detconv);open(pudate)"></i>
                              </button> 
                              <button class="btn btn-danger btn-link btn-sm btn-icon" ria-describedby="tooltip-190">
                                <i style="margin-left: 20%;" class="tim-icons icon-trash-simple" (click)="elminardet(detconv.idetalle_convocatoria)"></i>
                              </button> 
                            </td>
                        </tr>
                    </tbody>
                  </table>

                  </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #pudate let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Actualizar Convocatoria</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" >
    <div class="">
      <form>
        <div class=" form-group">
          <label> Escuela </label>
          <input class=" form-control" placeholder="" type="text" [(ngModel)]="detconv.escuela"
            name="escuela">
        </div>
        
      </form>
  </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark"
      (click)="update(detconv); modal.dismiss('Cross click')">Save</button>
  </div>
</ng-template>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Lista de Estudiantes</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" >
    <div class="">
      <table class="table">
          <thead>
              <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Codigo</th>
                  <th scope="col">Ciclo</th>
                  <th scope="col">Estado</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let al of alumno ;let i=index">
                  <td>{{i+1}}</td>
                  <td>{{al.nombre}}</td> 
                  <td>{{al.codigo}}</td>
                  <td>{{al.ciclo}}</td>
                  <td>{{1}}</td>
              </tr>
          </tbody>
      </table>
      
  </div>
  </div>
  
</ng-template>




