<div class=" content">
  <div class="row">
    <div class=" col-md-12">
      <div class=" card card-plain">
        <div class=" card-header">
          <div>
            <form>
              <div class="input-group no-border">
                <input type="text" value="" placeholder="Search..." class="form-control">
                <div class="input-group-append">
                  <div class="input-group-text">
                    <i class="tim-icons icon-zoom-split"></i>
                    <style></style>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div>
            <button class=" btn btn-fill btn-info" type="submit">Nuevo Usuario</button>
          </div>
        </div>
        <div class="card-body">

        </div>
      </div>
    </div>
  </div>
</div>

