
#iconobuscar{
    border: 0;
}
.search{
    height: 43px;
    font-size: 15px;
}
#bus{
    color: #666464;
}
.boton{
    margin-left: 2%;
    width: 50px;
    height: 0px;
}
.btn-info{
    width: 227px;
    height: 44px;
    font-size: 15px;
    margin-top: -2px;
}
.upeu{
    margin-right: 100px;
    float: left;
}

.cabesea{
    margin-left: -12px !important;
}
.ic{
    padding-bottom: 25px;
}
.es{
    margin-bottom: 19px;
    margin-bottom: -15px;
}
#estado{
    padding-bottom: -30px !important;
    margin-top: 25px;
    margin-bottom: 4px;
    color: #1d8cf8;
}
.btn-link{
    width: 60px;
    height: 60px;
}
.author{
    margin-top: -50px;
}
.bajo{
    margin-top: -65px;
}
.card{
    padding:20px;
    border-radius: 9px;
    border-top-color: #96344e;
    border-top-style: solid;
    border-top-width: .25rem;
}
.card-body{
    padding-top: 0;
}
.col-md-8 .card-header{
    padding-top: 4px;
}
.bor{
    padding-top: 8px;
}

.cre{
    margin: auto;
}
.mod{
    margin: auto;
}
.avatar{
    margin: auto;
}