
#iconobuscar{
    border: 0;
}
.search{
    height: 43px;
    font-size: 15px;
}
#bus{
    color: #666464;
}
.boton{
    margin-left: 2%;
    width: 50px;
    height: 0px;
}
.btn-info{
    width: 227px;
    height: 44px;
    font-size: 15px;
    margin-top: -2px;
}
.copyright{
    float: right;
}

.upeu{
    margin-right: 100px;
    float: left;
}

.crear{
    margin-top: -70px;
    
}
.form-group{
    font-size: 18px;
}
.modificar{
    margin-top: -70px;

}
section .b_principal{
    margin-left: -46px !important;
}
.cabesea{
    margin-left: -32px !important;
}
.ic{
    padding-bottom: 25px;
}
.es{
    margin-bottom: 19px;
    margin-bottom: -15px;
}
#estado{
    padding-bottom: -30px !important;
    margin-top: 25px;
    margin-bottom: 4px;
    color: #1d8cf8;
}
.btn-link{
    width: 60px;
    height: 60px;
}
