<div class="container-fluid">
    <div class="carrusel">
      <ngb-carousel style="border: none;">
  
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper" id="mundo">
            <img src="assets/recursos/mundo.png" width="40%" height="680">
          </div>
          <div class="picsum-img-wrapper" id="ubiedu">
            <img src="assets/recursos/solo.png" width="120%" height="300">
          </div>
          <div class="picsum-img-wrapper" id="sellonor">
            <img src="assets/recursos/sellonormal.png" width="80%" height="210">
          </div>
         <div class="picsum-img-wrapper" id="frase2">
          <img src="assets/recursos/frase2.png" width="80%" height="50">
        </div>
        <div class="picsum-img-wrapper" id="postular">
          <a [routerLink]="['/register-per']" routerLinkActive="router-link-active"  class="hvr-wobble-to-bottom-right">
          <img src="assets/recursos/postular.png" width="35%" height="80">
        </a>
        </div>
        </ng-template>
        
  
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper" id="internet">
            <img src="assets/recursos/internetgr.png" width="40%" height="200">
          </div>
          <div class="picsum-img-wrapper" id="telefono">
            <img src="assets/recursos/telefono.png" width="85%" height="700">
          </div>
          <div class="picsum-img-wrapper" id="chip4g">
            <img src="assets/recursos/15gb.png" width="20%" height="100">
          </div>
          <div class="picsum-img-wrapper" id="frase">
            <img src="assets/recursos/frase.png" width="50%" height="40">
          </div>
          <div class="picsum-img-wrapper" id="registro">
            <a href="" class="hvr-wobble-to-bottom-right">
              <img src="assets/recursos/registro.png" width="70%" height="80">
            </a>
          </div>
        </ng-template>
  
  
  
      </ngb-carousel>
  
  
    </div>
  
  </div>
  <app-body></app-body>