content{
    max-width: 100%;
    min-width: 40%;
}
img{
    width: 170px; height: 150px;
}

.infor{
    float: right;
}
.ciclo{
    float: right;
    margin-top: 63px;
}
p{
    margin-top: -32px;
}
.convo{
    margin-bottom: -40px; 
    max-width: 100%;
    min-width: 30%;
    min-width: 100%;
}
.listconvo{
    max-width: 35%;
    
}

//////////////////7
.covenio{
    display: flex;
    float: right !important;
    width:200px !important;
}


