
<div class=" content">
  <div class=" row">
    
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-success">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" (click)="isCollapsedPen = !isCollapsedPen">
              <i class="icon-settings"></i>
            </button>
            
          </div>
          <div class="text-value" *ngFor="let pen of usuariopen">{{pen.PENDIENTES}}</div>
          <div>Postulantes Pendientes</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;" *ngFor="let estpen of usuarioEstpen" >
          <h3> {{estpen.ESTUDIANTES_PEN}}  Estudiantes y <div *ngFor="let teachpen of usuarioTeachpen"><h3>{{teachpen.DOCENTES_PEN}} Docentes</h3></div>   </h3>
          
        </div>
        
      </div>
    </div>
      <!------------------------------------------------------------------------------------->

      <div class="col-sm-6 col-lg-3">
        <div class="card text-white bg-success">
          <div class="card-body pb-0">
            <div class="btn-group float-right" dropdown>
              <button type="button" class="btn btn-transparent dropdown-toggle p-0" (click)="isCollapsedAct = !isCollapsedAct">
                <i class="icon-settings"></i>
              </button>
             
            </div>
            <div class="text-value" *ngFor="let act of usuarioact">{{act.ACTIVOS}}</div>
            <div>Postulantes Activos</div>
          </div>
          <div class="chart-wrapper mt-3 mx-3" style="height:70px;" *ngFor="let estact of usuarioEstact" >
            <h3> {{estact.ESTUDIANTES_ACT}} Estudiantes y <div *ngFor="let teachact of usuarioTeachact"><h3>{{teachact.DOCENTES_ACT}} Docentes</h3></div>   </h3>
            
          </div>
        </div>
      </div>
<!------------------------------------------------------------------------------------->

    <div class=" col-12" id="collapseExample" [ngbCollapse]="isCollapsedPen">
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <!--------------------------------------------------->
            
            <!------------------------------------------------>
            <div class=" col-sm-6 text-left">
              <h5 class=" card-category">Activar</h5>
              <h2 class=" card-title">Postulantes Pendientes</h2>
            </div>
            <div class=" col-sm-6">
              <div
                class=" btn-group btn-group-toggle float-right"
                data-toggle="buttons"
              >
               <button type="button" class="btn btn-warning"
               (click)="cambiarEst()"
               >Estudiantes
              </button>
                <button type="button" class="btn btn-warning"
                (click)="cambiarTeach()">
                Docentes
                </button>
                
              </div>
            </div>
          </div>
        </div>
        <div class=" card-body">
          <div [ngbCollapse]="tableStudents">
            <div>
              <form>
                <div class="form-group form-inline">
                    Buscar por código: <input class="form-control ml-2" type="text" placeholder="buscar..." name="filterCodigo" [(ngModel)]="filterCodigo" />
                </div>
              </form>
              <table class="table table-striped" >
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Código</th>
                  <th scope="col">Nombres Completos</th>
                  <th scope="col">Postulante</th>
                  <th scope="col">Sede</th>
                  <th scope="col">Facultad</th>
                  <th scope="col">Escuela</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Acción</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let penEst of userpenEst  | filtercode: filterCodigo ; index as i;">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ penEst.CODIGO }}</td>
                  <td>{{ penEst.NOMBRES }}</td>
                  <td>{{ penEst.TIPO }}</td>
                  <td>{{ penEst.SEDE }}</td>
                  <td>{{ penEst.FACULTAD}}</td>
                  <td>{{ penEst.ESCUELA }}</td>
                  <td>{{ penEst.ESTADO }}</td>
                  <td><button class=" btn btn-success btn-link btn-icon btn-sm btn-simple"  placement="top" ngbTooltip="Activar" (click)="activar(penEst)"><i class="fa fa-check-circle" style="color:#4CAF50; font-size: 25px;"></i></button> 
                    <button class=" btn btn-success btn-link btn-icon btn-sm btn-simple"  placement="top" ngbTooltip="Declinar" (click)="delete(penEst)"><i class="fa fa-times-circle" style="color:red; font-size: 25px;" ></i> </button>
                    <button class=" btn btn-success btn-link btn-icon btn-sm btn-simple"  placement="top" ngbTooltip="Info" (click)="openXl(content)" (click)="datosper(penEst.IDUSUARIO)"><i class="fa fa-info-circle" style="color:#5FDBFC; font-size: 25px;" ></i></button>
                </td>
                </tr>
                </tbody>
              </table>
          </div>
        </div>

        <div [ngbCollapse]="tableTeachers">
          <div>
            <form>
              <div class="form-group form-inline">
                  Buscar por Nro. de Documento: <input class="form-control ml-2" type="text" placeholder="Buscar.." name="filterDocumento" [(ngModel)]="filterDocumento" />
              </div>
            </form>
            <table class="table table-striped" >
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nro. Documento</th>
                <th scope="col">Nombres Completos</th>
                <th scope="col">Postulante</th>
                <th scope="col">Sede</th>
                <th scope="col">Facultad</th>
                <th scope="col">Escuela</th>
                <th scope="col">Estado</th>
                <th scope="col">Acción</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let penDoc of userpenDoc | filterdocument: filterDocumento ; index as i;">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ penDoc.N_DOCUMENTO }}</td>
                <td>{{ penDoc.NOMBRES }}</td>
                <td>{{ penDoc.TIPO }}</td>
                <td>{{ penDoc.SEDE }}</td>
                <td>{{ penDoc.FACULTAD}}</td>
                <td>{{ penDoc.ESCUELA }}</td>
                <td>{{ penDoc.ESTADO }}</td>
                <td><button class=" btn btn-success btn-link btn-icon btn-sm btn-simple"  placement="top" ngbTooltip="Activar" (click)="activar(penDoc)"><i class="fa fa-check-circle" style="color:#4CAF50; font-size: 25px; " ></i></button> 
                  <button class=" btn btn-success btn-link btn-icon btn-sm btn-simple"  placement="top" ngbTooltip="Declinar" (click)="delete(penDoc)"><i class="fa fa-times-circle" style="color:red; font-size: 25px;" ></i> </button>
                  <button class=" btn btn-success btn-link btn-icon btn-sm btn-simple"  placement="top" ngbTooltip="Info" (click)="openXl(content)" (click)="datosper(penDoc.IDUSUARIO)"><i class="fa fa-info-circle" style="color:#5FDBFC; font-size: 25px;" ></i></button>
               </td>
              </tr>
              </tbody>
            </table>
        </div>
      </div>
        </div>
      </div>
    </div>

<!------------------------------------------------------------------------------------->

    <div class=" col-12" id="collapseExample" [ngbCollapse]="isCollapsedAct">
      <div class=" card card-chart">
        <div class=" card-header">
          <div class=" row">
            <!--------------------------------------------------->
            
            <!------------------------------------------------>
            <div class=" col-sm-6 text-left">
              <h5 class=" card-category">Listado</h5>
              <h2 class=" card-title">Postulantes Activos</h2>
            </div>
            <div class=" col-sm-6">
              <div
                class=" btn-group btn-group-toggle float-right"
                data-toggle="buttons"
              >
               <button type="button" class="btn btn-warning"
               (click)="cambiarEstAct()"
               >Estudiantes
              </button>
                <button type="button" class="btn btn-warning"
                (click)="cambiarTeachAct()">
                Docentes
                </button>
                
              </div>
            </div>
          </div>
        </div>
        <div class=" card-body">
          <div [ngbCollapse]="tableStudentsAct">
            <div>
              <form>
                <div class="form-group form-inline">
                    Buscar por código: <input class="form-control ml-2" type="text" placeholder="buscar..." name="filterCodigo" [(ngModel)]="filterCodigo" />
                </div>
              </form>
              <table class="table table-striped" >
                <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Código</th>
                  <th scope="col">Nombres Completos</th>
                  <th scope="col">Postulante</th>
                  <th scope="col">Sede</th>
                  <th scope="col">Facultad</th>
                  <th scope="col">Escuela</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Acción</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let actEst of useractEst | filtercode: filterCodigo ; index as i;">
                  <th scope="row" >
                    <div class="photo">
                    <img src="https://moviaca-bknd.herokuapp.com/api/userfoto/{{actEst.IDUSUARIO}}" onerror="this.onerror=null; this.src='https://jeffjbutler.com/wp-content/uploads/2018/01/default-user.png'" >
                  </div>
                  </th>
                  <td>{{ actEst.CODIGO }}</td>
                  <td>{{ actEst.NOMBRES }}</td>
                  <td>{{ actEst.TIPO }}</td>
                  <td>{{ actEst.SEDE }}</td>
                  <td>{{ actEst.FACULTAD}}</td>
                  <td>{{ actEst.ESCUELA }}</td>
                  <td>{{ actEst.ESTADO }}</td>
                  <td>
                    <button class=" btn btn-success btn-link btn-icon btn-sm btn-simple"  placement="top" ngbTooltip="Desactivar" (click)="desactivar(actEst)"><i class="fa fa-ban" style="color:red; font-size: 25px;" ></i> </button>
                    <button class=" btn btn-success btn-link btn-icon btn-sm btn-simple"  placement="top" ngbTooltip="Info" (click)="openXl(content)" (click)="datosper(actEst.IDUSUARIO)"><i class="fa fa-info-circle" style="color:#5FDBFC; font-size: 25px;" ></i></button>
                  </td>
                </tr>
                </tbody>
              </table>
          </div>
        </div>

        <div [ngbCollapse]="tableTeachersAct">
          <div>
            <form>
              <div class="form-group form-inline">
                  Buscar por Nro. de Documento: <input class="form-control ml-2" type="text" placeholder="Buscar.." name="filterDocumento" [(ngModel)]="filterDocumento" />
              </div>
            </form>
            <table class="table table-striped" >
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nro. Documento</th>
                <th scope="col">Nombres Completos</th>
                <th scope="col">Postulante</th>
                <th scope="col">Sede</th>
                <th scope="col">Facultad</th>
                <th scope="col">Escuela</th>
                <th scope="col">Estado</th>
                <th scope="col">Acción</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let actDoc of useractDoc | filterdocument: filterDocumento ; index as i;">
                <th scope="row" >
                  <div class="photo">
                    <img src="https://moviaca-bknd.herokuapp.com/api/userfoto/{{actDoc.IDUSUARIO}}" onerror="this.onerror=null; this.src='https://jeffjbutler.com/wp-content/uploads/2018/01/default-user.png'" >
                  </div>
                </th>
                <td>{{ actDoc.N_DOCUMENTO }}</td>
                <td>{{ actDoc.NOMBRES }}</td>
                <td>{{ actDoc.TIPO }}</td>
                <td>{{ actDoc.SEDE }}</td>
                <td>{{ actDoc.FACULTAD}}</td>
                <td>{{ actDoc.ESCUELA }}</td>
                <td>{{ actDoc.ESTADO }}</td>
                <td>
                  <button class=" btn btn-success btn-link btn-icon btn-sm btn-simple"  placement="top" ngbTooltip="Desactivar" (click)="desactivar(actDoc)"><i class="fa fa-ban" style="color:red; font-size: 25px;" ></i> </button>
                    <button class=" btn btn-success btn-link btn-icon btn-sm btn-simple"  placement="top" ngbTooltip="Info" (click)="openXl(content)" (click)="datosper(actDoc.IDUSUARIO)"><i class="fa fa-info-circle" style="color:#5FDBFC; font-size: 25px;" ></i></button>
                </td>
              </tr>
              </tbody>
            </table>
        </div>
      </div>
        </div>
      </div>
    </div>



    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Datos del Postulante</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        

        <form *ngFor="let per of personadata">
          <div class=" row" >

            <div class=" col-md-3 ">
            <img src="https://moviaca-bknd.herokuapp.com/api/userfoto/{{per.IDUSUARIO}}" onerror="this.onerror=null; this.src='https://jeffjbutler.com/wp-content/uploads/2018/01/default-user.png'">
          </div>
        </div>
        <br>
          <div class=" row" >
            <div class=" col-md-3 pr-md-1">
              <div class=" form-group">
                
                <label> Ocupación </label>
                <input
                  class=" form-control"
                  style="color: black; background:#E3E3E3;"
                  disabled=""
                  placeholder="Company"
                  type="text"
                  value={{per.TIPO}}
                />
              </div>
            </div>

            <div class=" col-md-3 px-md-1">
              <div class=" form-group">
                <label> Sede </label>
                <input
                  class=" form-control"
                  style="color: black; background:#E3E3E3;"
                  placeholder="codigo"
                  disabled=""
                  type="text"
                  value={{per.SEDE}}
                />
              </div>
            </div>

            <div class=" col-md-6 pl-md-1">
              <div class=" form-group">
                <label for="exampleInputEmail1"> Email address </label>
                <input
                  class=" form-control"
                  style="color: black;"
                  placeholder="Email"
                  value={{per.CORREO}}
                  type="email"
                />
              </div>
            </div>
          </div>
          <div class=" row" >
            <div class=" col-md-6 pr-md-1">
              <div class=" form-group">
                <label> Nombres </label>
                <input
                  class=" form-control"
                  style="color: black;"
                  placeholder="Nombres"
                  type="text"
                  value={{per.NOMBRES}}
                />
              </div>
            </div>
            <div class=" col-md-6 pl-md-1">
              <div class=" form-group">
                <label> Apellidos </label>
                <input
                  class=" form-control"
                  style="color: black;"
                  placeholder="Apellidos"
                  type="text"
                  value={{per.APELLIDOS}}
                />
              </div>
            </div>
          </div>
          <div class=" row" >
            <div class=" col-md-12">
              <div class=" form-group">
                <label> Dirección </label>
                <input
                  class=" form-control"
                  style="color: black;"
                  placeholder="Dirección domiciliaria"
                  type="text"
                  value={{per.DIRECCION}}
                />
              </div>
            </div>
          </div>
          <div class=" row" >
            <div class=" col-md-4 pr-md-1">
              <div class=" form-group">
                <label> Código Universitario </label>
                <input
                  class=" form-control"
                  style="color: black; background:#E3E3E3;"
                  placeholder="codigo"
                  disabled=""
                  type="text"
                  value={{per.CODIGO}}
                />
              </div>
            </div>
            <div class=" col-md-4 px-md-1">
              <div class=" form-group">
                <label> {{per.T_DOCUMENTO}} </label>
                <input
                  class=" form-control"
                  style="color: black; background:#E3E3E3;"
                  placeholder="Nro. de identificación"
                  disabled=""
                  type="text"
                  value={{per.N_DOCUMENTO}}
                />
              </div>
            </div>
            <div class=" col-md-4 pl-md-1">
              <div class=" form-group">
                <label> Telefono </label>
                <input
                  class=" form-control"
                  style="color: black;"
                  placeholder="Nro. de Telefono"
                  type="number"
                  value={{per.TELEFONO}}
                />
              </div>
            </div>
          </div>
          
          <div class=" row" >
            
            <div class=" col-md-4 pr-md-1">
              <div class=" form-group">
                <label> Facultad: {{per.ACRONIMO}}</label>
                <input
                  class=" form-control"
                  style="color: black; background:#E3E3E3;"
                  placeholder="Facultad o Area"
                  disabled=""
                  type="text"
                  value={{per.NOM_FACULTAD}}
                />
              </div>
            </div>
            <div class=" col-md-4 px-md-1">
              <div class=" form-group">
                <label> Carrera </label>
                <input
                  class=" form-control"
                  style="color: black; background:#E3E3E3;"
                  disabled=""
                  type="text"
                  value={{per.NOM_EP}}
                />
              </div>
            </div>
            <div class=" col-md-4 pl-md-1">
              <div class=" form-group">
                <label> Ciclo </label>
                <input
                  class=" form-control"
                  style="color: black; background:#E3E3E3;"
                  placeholder="Ciclo Actual"
                  disabled=""
                  type="text"
                  value={{per.CICLO}}
                />
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      </div>
    </ng-template>
    

  </div>

  
</div>
