.photo {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}
.img {
    max-width: 100%;
    border-radius: .2857rem;
}
.btn-action :hover{
    
    color: white;
}
.card{
    padding:20px;
    border-radius: 9px;
    border-top-color: #96344e;
    border-top-style: solid;
    border-top-width: .25rem;
}
table{
    font-family: "Poppins", sans-serif;
    box-sizing:border-box;
    border-top-style: solid;
    border-top-width: .25rem;
    border-top-color: #e89a00;
    border-radius: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(44,51,73,.1);
    overflow: auto;
    
}