.photo {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}
.img {
    max-width: 100%;
    border-radius: .2857rem;
}
.btn-action :hover{
    
    color: white;
}